<launch>
	<group ns="known_map_localization">
		<!-- The main localization node -->
		<node pkg="known_map_localization" type="known_map_localization_node" name="localization_node" output="screen" required="true">
			<remap from="localization_node/slam_map" to="/orb_slam/projected_map" />
			<remap from="/gps_fix" to="/robot/gps" />
			<rosparam command="load" file="$(find known_map_localization)/launch/mapstitch.yaml" />
		</node>
		
		<!-- The cs_merge aligning nodes -->
		<node pkg="cs_merge_methods" type="cs_merge_hough_ccr" name="cs_merge_hough_ccr"/>
		<node pkg="cs_merge_methods" type="cs_merge_hough_corner" name="cs_merge_hough_corner">
			<param name="threshold" value="0.0" />
		</node>
		<node pkg="cs_merge_methods" type="cs_merge_icp_gradient" name="cs_merge_icp_gradient">
			<param name="ransac_amount" value="0.5" />
			<param name="repetitions" value="25" />
		</node>
		<node pkg="cs_merge_methods" type="cs_merge_icp_svd" name="cs_merge_icp_svd">
			<param name="repetitions" value="25" />
			<param name="fraction" value="0.5" />
			<param name="startPos" value="0" />
		</node>
	</group>
</launch>
